In [4]:
import pandas as pd

In [5]:
df_dict = pd.read_excel('data_wrangling_task.xlsx', header=[3,4,5,6] , sheet_name= ['February 2022'])

df = pd.concat(df_dict.values(), axis=0)
df.head()
card_network_operated= df["Card Network Operated"]

In [6]:
date=df["Unnamed: 0_level_0"]
date.columns=['Date']
date = date.drop(date.index[28:41])
date['Date'] = pd.to_datetime(date['Date'])
date['Date'] = date['Date'].dt.strftime('%d-%m-%Y')
date

          Date
0   01-02-2022
1   02-02-2022
2   03-02-2022
3   04-02-2022
4   05-02-2022
5   06-02-2022
6   07-02-2022
7   08-02-2022
8   09-02-2022
9   10-02-2022
10  11-02-2022
11  12-02-2022
12  13-02-2022
13  14-02-2022
14  15-02-2022
15  16-02-2022
16  17-02-2022
17  18-02-2022
18  19-02-2022
19  20-02-2022
20  21-02-2022
21  22-02-2022
22  23-02-2022
23  24-02-2022
24  25-02-2022
25  26-02-2022
26  27-02-2022
27  28-02-2022

In [7]:
credit_card= card_network_operated["Credit Card"]
credit_card=credit_card.dropna()
credit_card = credit_card.drop(credit_card.index[28:29])
credit_card
#credit card transactions at Pos============================================
#--------------------volume--------------------------------
at_PoS=credit_card['at PoS']
pos_vol=at_PoS['Vol']

credit_data_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol,
    'Units' : 'mn. transactions'
})
credit_data_vol = pd.concat([ date, credit_data_vol],axis=1)
# #--------------------value---------------------------------
pos_val = at_PoS['Val']

credit_data_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val,
    'Units' : "Rs. '000"
})
credit_data_val = pd.concat([ date, credit_data_val],axis=1)

# #-------------------adding both in one dataframe--------------
credit_data_pos= pd.concat([credit_data_vol,credit_data_val],axis=0)

#============================================================================

# #credit card transaction at e-commerce======================================
at_ecommerce=credit_card['at e-Commerce']
ecommerce_vol=at_ecommerce['Vol']

credit_data_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol,
    'Units' : 'mn. transactions'
})
credit_data_ecommerce_vol = pd.concat([ date, credit_data_ecommerce_vol],axis=1)
#--------------------value---------------------------------
ecommerce_val = at_ecommerce['Val']

credit_data_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val,
    'Units' : "Rs. '000"
})
credit_data_ecommerce_val = pd.concat([date, credit_data_ecommerce_val],axis=1)
credit_data_ecommerce_val
#-------------------adding both in one dataframe--------------
credit_data_ecommerce= pd.concat([credit_data_ecommerce_vol,credit_data_ecommerce_val],axis=0)
credit_data_ecommerce

# #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
credit_card_data= pd.concat([credit_data_pos, credit_data_ecommerce],axis=0)
credit_card_data

,Date,Facets,Value,Units
0,01-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.467060,mn. transactions
1,02-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",23.382990,mn. transactions
2,03-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",23.282040,mn. transactions
3,04-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",24.249640,mn. transactions
4,05-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",19.353570,mn. transactions
...,...,...,...,...
23,24-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2055.103748,Rs. '000
24,25-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2487.208601,Rs. '000
25,26-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",919.429890,Rs. '000
26,27-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",783.586713,Rs. '000
27,28-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2409.769800,Rs. '000

In [8]:
debit_card=card_network_operated["Debit Card"]
debit_card=debit_card.dropna()
debit_card = debit_card.drop(debit_card.index[28:29])
debit_card
# #credit card transactions at Pos============================================
# #--------------------volume--------------------------------
at_PoS_d=credit_card['at PoS']
pos_vol_d=at_PoS_d['Vol']

debit_data_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol_d,
    'Units' : 'mn. transactions'
})
debit_data_vol = pd.concat([ date, debit_data_vol],axis=1)
# # #--------------------value---------------------------------
pos_val_d = at_PoS_d['Val']

debit_data_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val_d,
    'Units' : "Rs. '000"
})
debit_data_val = pd.concat([ date, debit_data_val],axis=1)

# # #-------------------adding both in one dataframe--------------
debit_data_pos= pd.concat([debit_data_vol,debit_data_val],axis=0)
debit_data_pos
# #============================================================================

# # #credit card transaction at e-commerce======================================
at_ecommerce_d=debit_card['at e-Commerce']
ecommerce_vol_d=at_ecommerce['Vol']

debit_data_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol_d,
    'Units' : 'mn. transactions'
})
debit_data_ecommerce_vol = pd.concat([ date, debit_data_ecommerce_vol],axis=1)
# #--------------------value---------------------------------
ecommerce_val_d = at_ecommerce['Val']

debit_data_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val_d,
    'Units' : "Rs. '000"
})
debit_data_ecommerce_val = pd.concat([ date, debit_data_ecommerce_val],axis=1)

# #-------------------adding both in one dataframe--------------
debit_data_ecommerce= pd.concat([debit_data_ecommerce_vol,debit_data_ecommerce_val],axis=0)


# #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
debit_card_data= pd.concat([debit_data_pos, debit_data_ecommerce],axis=0)

debit_card_data

,Date,Facets,Value,Units
0,01-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.467060,mn. transactions
1,02-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",23.382990,mn. transactions
2,03-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",23.282040,mn. transactions
3,04-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",24.249640,mn. transactions
4,05-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",19.353570,mn. transactions
...,...,...,...,...
23,24-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2055.103748,Rs. '000
24,25-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2487.208601,Rs. '000
25,26-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",919.429890,Rs. '000
26,27-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",783.586713,Rs. '000
27,28-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2409.769800,Rs. '000

In [9]:
PPIs=card_network_operated["Prepaid Payment Instruments (PPIs) Card"]
PPIs.dropna()
PPIs = PPIs.drop(PPIs.index[28:41])
PPIs
# #credit card transactions at Pos============================================
# #--------------------volume--------------------------------
at_PoS_p= PPIs['at PoS']
pos_vol_p=at_PoS_p['Vol']

PPIs_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol_p,
    'Units' : 'mn. transactions'
})
PPIs_vol = pd.concat([ date, PPIs_vol],axis=1)
# # #--------------------value---------------------------------
pos_val_p = at_PoS_p['Val']

PPIs_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val_p,
    'Units' : "Rs. '000"
})
PPIs_val = pd.concat([ date, PPIs_val],axis=1)

# # # #-------------------adding both in one dataframe--------------
PPIs_pos= pd.concat([PPIs_vol,PPIs_val],axis=0)
PPIs_pos
# # #============================================================================

# # # #credit card transaction at e-commerce======================================
at_ecommerce_p=PPIs['at e-Commerce']
ecommerce_vol_p=at_ecommerce_p['Vol']

PPIs_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol_p,
    'Units' : 'mn. transactions'
})
PPIs_ecommerce_vol = pd.concat([ date, PPIs_ecommerce_vol],axis=1)
# # #--------------------value---------------------------------
ecommerce_val_p = at_ecommerce_p['Val']

PPIs_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val_p,
    'Units' : "Rs. '000"
})
PPIs_ecommerce_val = pd.concat([ date, PPIs_ecommerce_val],axis=1)

# #-------------------adding both in one dataframe--------------
PPIs_ecommerce= pd.concat([PPIs_ecommerce_vol,PPIs_ecommerce_val],axis=0)


# # #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
PPIs_data= pd.concat([PPIs_pos, PPIs_ecommerce],axis=0)

PPIs_data

,Date,Facets,Value,Units
0,01-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.487650,mn. transactions
1,02-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.790650,mn. transactions
2,03-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.819470,mn. transactions
3,04-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.959300,mn. transactions
4,05-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",3.043840,mn. transactions
...,...,...,...,...
23,24-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",106.539831,Rs. '000
24,25-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",88.240138,Rs. '000
25,26-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",80.901347,Rs. '000
26,27-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",68.835874,Rs. '000
27,28-02-2022,"{""Category"":""Card Network Operated"",""Type of C...",91.433288,Rs. '000

In [10]:
feb_data= pd.concat([credit_card_data, debit_card_data, PPIs_data], axis=0)
feb_data
feb_data.to_csv("feburary.csv", index=False)