In [5]:
import pandas as pd

# January 2022

In [ ]:
df_dict = pd.read_excel('data_wrangling_task.xlsx', header=[3,4,5,6] , sheet_name= ['January 2022 '])

df = pd.concat(df_dict.values(), axis=0)
df.head()
card_network_operated= df["Card Network Operated"]

In [ ]:
#working with date

date=df["Unnamed: 0_level_0"]
date.columns=['Date']
date = date.drop(date.index[31:44])
date['Date'] = pd.to_datetime(date['Date'])
date['Date'] = date['Date'].dt.strftime('%d-%m-%Y')
# date.info
date

# Credit Card

In [154]:
credit_card=card_network_operated["Credit Card"]
credit_card=credit_card.dropna()
credit_card
credit_card = credit_card.drop(credit_card.index[31:32])
credit_card
# #credit card transactions at Pos============================================
# #--------------------volume--------------------------------
at_PoS=credit_card['at PoS']
pos_vol=at_PoS['Vol']

credit_data_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol,
    'Units' : 'mn. transactions'
})
credit_data_vol = pd.concat([ date, credit_data_vol],axis=1)
# #--------------------value---------------------------------
pos_val = at_PoS['Val']

credit_data_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val,
    'Units' : "Rs. '000"
})
credit_data_val = pd.concat([ date, credit_data_val],axis=1)

# #-------------------adding both in one dataframe--------------
credit_data_pos= pd.concat([credit_data_vol,credit_data_val],axis=0)

#============================================================================

# #credit card transaction at e-commerce======================================
at_ecommerce=credit_card['at e-Commerce']
ecommerce_vol=at_ecommerce['Vol']

credit_data_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol,
    'Units' : 'mn. transactions'
})
credit_data_ecommerce_vol = pd.concat([ date, credit_data_ecommerce_vol],axis=1)
#--------------------value---------------------------------
ecommerce_val = at_ecommerce['Val']

credit_data_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Credit Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val,
    'Units' : "Rs. '000"
})
credit_data_ecommerce_val = pd.concat([date, credit_data_ecommerce_val],axis=1)
credit_data_ecommerce_val
#-------------------adding both in one dataframe--------------
credit_data_ecommerce= pd.concat([credit_data_ecommerce_vol,credit_data_ecommerce_val],axis=0)
credit_data_ecommerce

# #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
credit_card_data= pd.concat([credit_data_pos, credit_data_ecommerce],axis=0)
credit_card_data

,Date,Facets,Value,Units
0,01-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",16.447070,mn. transactions
1,02-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",26.605940,mn. transactions
2,03-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",45.259160,mn. transactions
3,04-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.986250,mn. transactions
4,05-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.591680,mn. transactions
...,...,...,...,...
26,27-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1844.725252,Rs. '000
27,28-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1448.893672,Rs. '000
28,29-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1907.098117,Rs. '000
29,30-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",708.817187,Rs. '000
30,31-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2245.903165,Rs. '000

# Debit Card

In [162]:
debit_card=card_network_operated["Debit Card"]
debit_card=debit_card.dropna()
debit_card = debit_card.drop(debit_card.index[31:32])
debit_card
# #credit card transactions at Pos============================================
# #--------------------volume--------------------------------
at_PoS_d=credit_card['at PoS']
pos_vol_d=at_PoS_d['Vol']

debit_data_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol_d,
    'Units' : 'mn. transactions'
})
debit_data_vol = pd.concat([ date, debit_data_vol],axis=1)
# # #--------------------value---------------------------------
pos_val_d = at_PoS_d['Val']

debit_data_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val_d,
    'Units' : "Rs. '000"
})
debit_data_val = pd.concat([ date, debit_data_val],axis=1)

# # #-------------------adding both in one dataframe--------------
debit_data_pos= pd.concat([debit_data_vol,debit_data_val],axis=0)
debit_data_pos
# #============================================================================

# # #credit card transaction at e-commerce======================================
at_ecommerce_d=debit_card['at e-Commerce']
ecommerce_vol_d=at_ecommerce['Vol']

debit_data_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol_d,
    'Units' : 'mn. transactions'
})
debit_data_ecommerce_vol = pd.concat([ date, debit_data_ecommerce_vol],axis=1)
# #--------------------value---------------------------------
ecommerce_val_d = at_ecommerce['Val']

debit_data_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Debit Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val_d,
    'Units' : "Rs. '000"
})
debit_data_ecommerce_val = pd.concat([ date, debit_data_ecommerce_val],axis=1)

# #-------------------adding both in one dataframe--------------
debit_data_ecommerce= pd.concat([debit_data_ecommerce_vol,debit_data_ecommerce_val],axis=0)


# #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
debit_card_data= pd.concat([debit_data_pos, debit_data_ecommerce],axis=0)

debit_card_data

,Date,Facets,Value,Units
0,01-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",16.447070,mn. transactions
1,02-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",26.605940,mn. transactions
2,03-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",45.259160,mn. transactions
3,04-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.986250,mn. transactions
4,05-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",22.591680,mn. transactions
...,...,...,...,...
26,27-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1844.725252,Rs. '000
27,28-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1448.893672,Rs. '000
28,29-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",1907.098117,Rs. '000
29,30-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",708.817187,Rs. '000
30,31-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2245.903165,Rs. '000

# PPIs

In [164]:
PPIs=card_network_operated["Prepaid Payment Instruments (PPIs) Card"]
PPIs = PPIs.drop(PPIs.index[31:44])
PPIs.dropna()
PPIs
# # #credit card transactions at Pos============================================
# # #--------------------volume--------------------------------
at_PoS_p= PPIs['at PoS']
pos_vol_p=at_PoS_p['Vol']

PPIs_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at PoS","Indicator":"Volume"}',
    'Value' :  pos_vol_p,
    'Units' : 'mn. transactions'
})
PPIs_vol = pd.concat([ date, PPIs_vol],axis=1)
# # #--------------------value---------------------------------
pos_val_p = at_PoS_p['Val']

PPIs_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at PoS","Indicator":"Value"}',
    'Value' :  pos_val_p,
    'Units' : "Rs. '000"
})
PPIs_val = pd.concat([ date, PPIs_val],axis=1)

# # # #-------------------adding both in one dataframe--------------
PPIs_pos= pd.concat([PPIs_vol,PPIs_val],axis=0)
PPIs_pos
# # #============================================================================

# # # #credit card transaction at e-commerce======================================
at_ecommerce_p=PPIs['at e-Commerce']
ecommerce_vol_p=at_ecommerce_p['Vol']

PPIs_ecommerce_vol= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at e-Commerce","Indicator":"Volume"}',
    'Value' :  ecommerce_vol_p,
    'Units' : 'mn. transactions'
})
PPIs_ecommerce_vol = pd.concat([ date, PPIs_ecommerce_vol],axis=1)
# # #--------------------value---------------------------------
ecommerce_val_p = at_ecommerce_p['Val']

PPIs_ecommerce_val= pd.DataFrame({
    'Facets' : '{"Category":"Card Network Operated","Type of Card":"Prepaid Payment Instruments (PPIs) Card","Channel":"at e-Commerce","Indicator":"Value"}',
    'Value' :  ecommerce_val_p,
    'Units' : "Rs. '000"
})
PPIs_ecommerce_val = pd.concat([ date, PPIs_ecommerce_val],axis=1)

# #-------------------adding both in one dataframe--------------
PPIs_ecommerce= pd.concat([PPIs_ecommerce_vol,PPIs_ecommerce_val],axis=0)


# # #=================================ADDING POS AND ECOMMERCE INTO ONE DATAFRAME DEBIT CARD=========================================
PPIs_data= pd.concat([PPIs_pos, PPIs_ecommerce],axis=0)

PPIs_data

,Date,Facets,Value,Units
0,01-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.394280,mn. transactions
1,02-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.827370,mn. transactions
2,03-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.744570,mn. transactions
3,04-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.467930,mn. transactions
4,05-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",2.454620,mn. transactions
...,...,...,...,...
26,27-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",68.901232,Rs. '000
27,28-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",79.131821,Rs. '000
28,29-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",61.737167,Rs. '000
29,30-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",59.855384,Rs. '000
30,31-01-2022,"{""Category"":""Card Network Operated"",""Type of C...",76.333296,Rs. '000

# Adding the dataframe of Debit card + Credit Card + PPIs

In [167]:
jan_data= pd.concat([credit_card_data, debit_card_data, PPIs_data], axis=0)
jan_data
jan_data.to_csv("january.csv", index=False)